<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Goolgle Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Main JS -->
    <script src="/scripts/app.js" defer></script>
    <title>Login</title>
</head>

<body>
    <h1>Welcome Back!</h1>

    <form action="/login" method="POST">
        <p>
            <input class="loginbtn" type="email" name="email" placeholder="Email" required>
        </p>
        <p>
            <input class="loginbtn" type="password" name="password" placeholder="Password" required minlength="8">
        </p>
        <input class="loginbtn" type="submit" value="Login">
    </form>

</body>

</html>