<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Goolgle Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Main JS -->
    <script src="/scripts/app.js" defer></script>
    <title>Housing4You</title>
</head>
<body class="body">
    <div class="area">
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
    
            </li>
            <li class="has-subnav">
                <a href="/login">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Login
                    </span>
                </a>
    
            </li>
            <li class="has-subnav">
                <a href="/posts">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        View Listings
                    </span>
                </a>
            <li>
                <a href="/replies/new">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                        Reply
                    </span>
                </a>
            </li>
            <li>
                <a href="/posts/new">
                    <i class="fa fas fa-edit"></i>
                    <span class="nav-text">
                        Add New Lisiting
                    </span>
                </a>
        </ul>
    
        <ul class="logout">
            <li>
                <a href="/register">
                    <i class="fas fa-user-plus"></i>
                    <span class="nav-text">
                        Register
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    </div>
    <div class="wrapper">
    <nav class="navbar" role="navigation" aria-label="main navigation"></nav>
        <div class="navbar-brand">
            <a class="navbar-item" href="/posts">
                <img class="homeimage" src="https://images.unsplash.com/photo-1543071293-d91175a68672?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" width=200 height=100>
                <h1 class="hometitle">Welcome Housing 4 You</h1>
               
                    <% if (user) { %>
                        <h4>
                            <%= user.username %>
                        </h4>
                        <form action="/logout?_method=DELETE" method="POST">
                            <input type="submit" value="Logout">
                        </form>
                        <% } else { %>
                        
                           <button><a class="login" href="/login">Login</a></button>
                            <button><a class="register" href="/register">Register</a></button>
                            <% } %>

                            <div class="homevideo">
                                <video width="600" height="300" autoplay loop controls>
                                    <source src="/production ID_3773488.mp4" type="video/mp4" />
                                </video>
               </div>
                </div>
                </nav>
            </a>
    <nav></nav>
</div>
</body>
</html>