<!DOCTYPE html>
<html lang="en">
<head>

    <html>
        <head>
       
        </head>
        <body><div class="area"></div><nav class="main-menu">
                  <ul>
                      <li>
                          <a href="http://justinfarrow.com">
                              <i class="fa fa-home fa-2x"></i>
                              <span class="nav-text">
                                  Dashboard
                              </span>
                          </a>
                        
                      </li>
                      <li class="has-subnav">
                          <a href="#">
                              <i class="fa fa-laptop fa-2x"></i>
                              <span class="nav-text">
                                  Stars Components
                              </span>
                          </a>
                          
                      </li>
                      <li class="has-subnav">
                          <a href="#">
                             <i class="fa fa-list fa-2x"></i>
                              <span class="nav-text">
                                  Forms
                              </span>
                          </a>
                          
                      </li>
                      <li class="has-subnav">
                          <a href="#">
                             <i class="fa fa-folder-open fa-2x"></i>
                              <span class="nav-text">
                                  Pages
                              </span>
                          </a>
                         
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-bar-chart-o fa-2x"></i>
                              <span class="nav-text">
                                  Graphs and Statistics
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-font fa-2x"></i>
                              <span class="nav-text">
                                 Quotes
                              </span>
                          </a>
                      </li>
                      <li>
                         <a href="#">
                             <i class="fa fa-table fa-2x"></i>
                              <span class="nav-text">
                                  Tables
                              </span>
                          </a>
                      </li>
                      <li>
                         <a href="#">
                              <i class="fa fa-map-marker fa-2x"></i>
                              <span class="nav-text">
                                  Maps
                              </span>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                             <i class="fa fa-info fa-2x"></i>
                              <span class="nav-text">
                                  Documentation
                              </span>
                          </a>
                      </li>
                  </ul>
      
                  <ul class="logout">
                      <li>
                         <a href="#">
                               <i class="fa fa-power-off fa-2x"></i>
                              <span class="nav-text">
                                  Logout
                              </span>
                          </a>
                      </li>  
                  </ul>
              </nav>
        </body>
          </html>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Goolgle Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Main JS -->
    <script src="/scripts/app.js" defer></script>
    <title>Housing4You</title>
</head>
<body class="body">
    <div class="wrapper">
    <nav class="navbar" role="navigation" aria-label="main navigation"
    <div class="control-sidebar-bg"></div>


        <div class="navbar-brand">
            <a class="navbar-item" href="/posts">
                <h3>Welcome to Housing 4 You, ready to help you find your next place to live</h3>
                <img src="https://picsum.photos/200/300" width=250 height=250>
                <img src="https://picsum.photos/200/300" width=250 height=250>
                <img src="https://picsum.photos/200/300" width=250 height=250>
                <img src="https://picsum.photos/200/300" width=250 height=250>
                    <li>
                        <ahref="/posts">Add Listing</a>
                    </li>
                    <li>
                        <a href="/replies">Reply</a>
                    </li>
                </ul>
                  <h1>WELCOME TO HOUSING 4 YOU </h1>
                  <p>Housing search support that lets you comment and relpy on locations and available places to live</p>
                  <div class="frame">
                    <button class="custom-btn btn-1">Housing Pix</button>
                    <button class="custom-btn btn-1">Housing Pix</button>  
                    <p style="font-family: Andale Mono, monospace;">
                    <p style="font-family: Andale Mono, monospace;">
                      ZOOTY_GANG</p>
                  </div></h1>
                

                </nav>
            </a>
    <nav>
</div>
</body>
</html>