<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/gallery.css"/>
    <!-- Goolgle Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Main JS -->
    <script src="/scripts/app.js" defer></script>
    <title>Housing4You</title>
</head>
<body>
    <div class="area">
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
    
                </li>
                <li class="has-subnav">
                    <a href="/login">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Login
                        </span>
                    </a>
    
                </li>
                <li class="has-subnav">
                    <a href="/posts">
                        <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            View Listings
                        </span>
                    </a>
                <li>
                    <a href="/replies/new">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Reply
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/posts/new">
                        <i class="fa fas fa-edit"></i>
                        <span class="nav-text">
                            Add New Lisiting
                        </span>
                    </a>
            </ul>
    
            <ul class="logout">
                <li>
                    <a href="/register">
                        <i class="fas fa-user-plus"></i>
                        <span class="nav-text">
                            Register
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <h1>Housing 4 You</h1>

    <nav>
            <p>
                <button class="replybtn">
                <a href="/replies/new">Add Reply</a>
                </button>
            </p>
            <div class="homevideo">
                <video width="400" height="200" autoplay loop controls>
                    <source src="/production ID_3770033.mp4" type="video/mp4" />
                </video>
    </nav>
    <main>
       
        <h2>Replies</h2>

        <% if(!replies.length) { %>
            <p>There are no listings avaliable</p>
            <% } %>
                
                    <% replies.forEach(reply => { %>
                        <p>
                            <a href="/replies/<%= reply._id %>"> <%= reply.name %></a>
                        </p>
                        <% }) %>
               
    </main>
</body>
</html>