<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Goolgle Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Main JS -->
    <script src="/scripts/app.js" defer></script><!-- Goolgle Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Main JS -->
    <script src="/scripts/app.js" defer></script>
    <title>Housing4You</title>
</head>

<body>
    <nav>
        <h1>Welcome to Housing4You</h1>
        <ul>
            <li>
                <a href="/posts">View More Listings</a>
            </li>
            <li>
                <a href="/replies"> New Reply</a>
            </li>
        </ul>
    </nav>
    <main>
        <form action="/replies" method="POST">
            
            <p>
                <input type="text" name="name" placeholder="Name" />
            </p>
            <p>
                <textarea type="text" name="body" placeholder="Body"></textarea>
            </p>
            <p>
                <select name="posts">
                    <option value="Add Reply">Address</option>
                    <% posts.forEach ( post => { %>
                        <option value="<%= post._id %>">
                            <%= post.address %>
                        </option>
                        <% }) %>
                </select>
            </p>
            <input type="submit" value="Reply" />
        </form>
    </main>
</body>

</html>