<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Housing4You</title>
</head>

<body>
    <nav>
        <h1>Welcome to Housing4You</h1>
        <ul>
            <li>
                <a href="/posts">View More Listings</a>
            </li>
            <li>
                <a href="/replies"> New Reply</a>
            </li>
        </ul>
    </nav>
    <main>
        <form action="/replies" method="POST">
            <p>
                <input type="text" name="name" placeholder="name" />
            </p>
            <p>
                <textarea type="text" name="body" placeholder="Body"></textarea>
            </p>
            <input type="submit" value="Reply" />
        </form>
    </main>
</body>

</html>