<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Housing4You</title>
</head>

<body>
    <nav>
        <h1>Welcome to Housing4You</h1>
        <ul>
            <li>
                <a href="/posts">Lisitngs</a>
            </li>
            <li>
                <a href="/replies">Reply</a>
            </li>
            <li>
                <a href="/replies/new">Add Reply</a>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Contact Info</h2>
            <a href="/replies/<%= reply._id %>/edit">Edit</a>
            <ul>
                <li>Name: <%= reply.name %></li>
                <li>Body: <%= reply.body %></li>
            </ul>
        </section>
        <form action="/replies/<%= reply._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
        </form>
    </main>
</body>

</html> 