* {
	box-sizing: border-box;
  }
  
  body {
	background-color: rgba(125, 100, 139, 0.986);
  }
  
  form {
	padding: 20px;
	display: flex;
	justify-content: center;
  }
  
  input {
	padding: 10px;
	background-color: #e9e7e7;
	border-radius: 0;
	border: 0px;
  }
  
  input:focus {
	
	border-radius: 0;
	outline: none;
	border-width: 10px;
	border-color: hsla(120, 0%, 100%, 0.52);
  }
  
  input::placeholder {
	color: rgb(143, 143, 143);
  }
  
  input[type="text"] {
	border-radius: 10px 0 0 10px;
	flex: 10;
  }
  
  input[type="submit"] {
	background-color: #cccccc;
	border-radius: 0 10px 10px 0;
	flex: 1;
  }