<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Housing4You</title>
</head>

<body>
    <nav>
        <h1>Welcome to Housing 4 You</h1>
        <ul>
            <li>
                <a href="/posts">See Lisitngs</a>
            </li>
            <li>
                <a href="/replies">Reply</a>
            </li>
        </ul>
    </nav>
</body>
<main>
    <form action="/posts" method="POST">
        <input type="text" name="location" placeholder="Create Post" />
        <input type="submit" value="Create" />
    </form>
</main>

</html>